<br><br><br><br><br><br>
<div class = " container col-md-6 list-group-item px-20 w-30 p-3">
  <h2 class="card-title text-center mb-4 mt-1">Реєстрація</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <div class = "form-group">
        <div class = "input-group">
          <div class = "input-group-prepend">
            <span class = "input-group-text"> <i class = "fa fa-at"></i> </span>
          </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email" %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class = "form-group">
          <div class = "input-group">
            <div class = "input-group-prepend">
              <span class = "input-group-text"> <i class = "fa fa-lock"></i> </span>
            </div>
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Пароль" %>
            </div>
          </div>

        </div>
        <div class="text-center">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> символів мінімально)</em>
        <% end %>
      </div>
        <div class="field">
          <div class = "form-group">
            <div class = "input-group">
              <div class = "input-group-prepend">
                <span class = "input-group-text"> <i class = "fa fa-lock"></i> </span>
              </div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Підтвердження паролю" %>
            </div>
          </div>
        </div>

    <div class="actions form-group">
      <%= f.submit "Зареєструватись", class:"btn btn-dark btn-block color1" %>
    </div>
  <% end %>
</div>
<br><br><br><br><br><br><br><br><br>
