

<div class="jumbotron jumbotron-inverse jumbotron-hero market-ua" style="background-image: url(https://i.imgur.com/tlZxlkq.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
          <h1> Сервіс aналізу тональності тексту </h1>
          <h4>Tonalyze</h4>
        </div>
      </div>
    </div>
  </div>
  <hr class= "color">
  <hr class= "color1">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <br>
  <br>
  <br>
<div class="text-center container ">
    <h2>На даному сайті є можливість проаналізувати відгуки з інтернет магазину Ebay, натиснувши на кнопку нижче, ви перейдете до форми, куди треба вставити посилання на товар. </h2>
    <div class="col-12">
        <%= link_to "Передача посилання на аналіз", new_comment_path, class:"btn btn-dark btn-lg btn-block color1" %>
    </div>
 </div>
<br>
<br>
<br>
<br>
<br>
