<hr class= "color">
<hr class= "color1">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <%= form_with(model: @comment, local: true) do |form| %>
  <div class="text-center container">
    <br><br><br><br>
    <h2>Посилання повинне бути такого типу: https://www.ebay.com/urw/назва_товару-/product-reviews/******* або https://www.ebay.com/p/*******?iid=*********</h2>
    <br><br>
    <div class = "field">
      <%= form.text_field :url, class: "form-control", placeholder: "Введіть посилання!"%>
    </div>
    <br>
    <div class="actions">
      <div class="form-row text-center" style="">
         <div class="col-12">
            <%= form.submit :"Зробити аналіз", class: "btn btn-dark btn-lg btn-block color1"  %>
         </div>
      </div>
    </div>
  </div>
  <% end %>
  <br><br><br><br><br><br><br><br><br><br>
