<hr class= "color">
<hr class= "color1">
<br><br><br>
<%= pie_chart [$graph_array, $graph_array2, $graph_array3] %>
<div class="container list-group-item ">
  <table class="table">
    <tr>
      <td><h5><b>Відгук</b></h5></td>
      <td></td>
      <td><h5><b>Оцінка</b></h5></td>
      <td></td>
      <td><h5><b>Емоційне забарвлення</b></h5></td>
    </tr>

  <% $comment.each_with_index do |comment, i| %>
    <tr>
      <td><%= comment %><td>
      <td id = "score"><%= $score[i] %><td>
      <td><%= $sentiment[i] %><td>
    <tr>
  <% end %>
  </table>
</div>
<br><br><br><br><br><br>
