<nav class="navbar navbar-expand-lg navbar-dark h-30 color1">
  <%= link_to "Tonalyze", root_path, class: "navbar-brand "%>

  <ul class="nav navbar-nav ml-auto white">
    <% if current_user %>
      <li class="nav-item white">
        <a class="nav-link white" href="#"><span class="fas fa-user white"></span><%= current_user.email %></a>
      </li>
      <li class="nav-item">
        <a><%= link_to "Вихід", destroy_user_session_path, method: :delete, class: "nav-link white" %></a>
      </li>
      <% if current_user.admin? %>
         <a ><%= link_to "Адмінка", words_path, class: "nav-link white" %></a>
       <% end %>

    <% else %>
      <li class="nav-item">
        <a><%= link_to "Увійти в систему", new_user_session_path, class: "nav-link white"%></a>
      </li>
      <li class="nav-item">
        <a style="color:white"><%= link_to "Реєстрація", new_user_registration_path, class: "nav-link white" %></a>
      </li>
    <% end %>
  </ul>
</nav>
