<br><br><br><br><br><br><br><br>
<div class = " container col-md-6 list-group-item px-20 w-30 p-3">
  <h2 class="card-title text-center mb-4 mt-1">Увійти в систему</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-signin") do |f| %>
    <div class="field">
      <div class = "form-group">
        <div class = "input-group">
          <div class = "input-group-prepend">
            <span class = "input-group-text"> <i class = "fa fa-at"></i> </span>
          </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"inputEmail", class: 'form-control', placeholder: "Email"%>
          </div>
        </div>
      </div>
    <div class="field">
      <div class = "form-group">
        <div class = "input-group">
          <div class = "input-group-prepend">
            <span class = "input-group-text"> <i class = "fa fa-lock"></i> </span>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: "Пароль" %>
        </div>
      </div>
    </div>


    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :"remember_me" %>
        <%= f.label :"Запам'ятати на цьому комп'ютері" %>
      </div>
    <% end %>

    <div class="actions form-group">
      <%= f.submit "Вхід", class:"btn btn-dark btn-block color1"  %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>
</div>
<br><br><br><br><br><br><br><br><br>
