<%= form_with(model: word, local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
        <% word.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Слово" %>
    <%= form.text_field :word %>
  </div>

  <div class="field">
    <%= form.label :"Оцінка" %>
    <%= form.check_box :rate %>
  </div>

  <div class="actions">
    <%= form.submit :"Підтвердити", class:"btn btn-success" %>
  </div>
<% end %>
