<p id="notice"><%= notice %></p>

<h1>Слова</h1>
<hr>
<%= link_to 'Додати нове слово', new_word_path, class:"btn btn-primary bg-md" %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Слово</th>
      <th>Оцінка (позитив/негатив)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.word %></td>
        <td><%= word.rate %></td>
        <td><%= link_to 'Відредагувати', edit_word_path(word), class:"btn btn-warning bg-md" %></td>
        <td><%= link_to 'Видалити', word, method: :delete, data: { confirm: 'Ви впевнені?' }, class:"btn btn-danger bg-md" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
